<app-category-operation (categoryEmitted)="emitedCategory($event)" [actionChanges]="currentFormActionChanges"
                  *ngIf="formActions.None !== currentFormAction " ></app-category-operation>
<div class="card">
  <div class="card-header d-flex justify-content-between align-items-center">
    <h4 class="card-title">
      Category List
    </h4>
    <button (click)="addCategory()" class="btn btn-primary align-items-end">
      New Category
    </button>
  </div>
  <div class="card-body">
    <table class="table">
      <thead class="table-dark">
      <tr>
        <th scope="col" class="w-20">#</th>
        <th scope="col" class="w-30">Name</th>
        <th scope="col"  class="w-30">Type</th>
        <th scope="col" class="w-25">Action</th>
      </tr>
      </thead>
      <tbody *ngIf="categories.length > 0">
      <tr *ngFor="let category of categories">
        <th scope="row">{{category.id}}</th>
        <td>{{category.name}}</td>
        <td>{{category.type}}</td>
        <td>
          <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-info" (click)="viewCategory(category)">View</button>
            <button type="button" class="btn btn-warning" (click)="updateCategory(category)">Update</button>
            <button type="button" class="btn btn-danger" (click)="deleteCategory(category)">Delete</button>
          </div>
        </td>
      </tr>
      </tbody>

    </table>
    <div class="alert w-100 alert-warning" *ngIf="categories.length === 0 ">No items in category</div>
  </div>
</div>

